<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <title>Thymeleaf</title>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main.css"/>
        <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="../static/semantic/out/semantic.js" th:src="@{/semantic/out/semantic.js}"></script>
        <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.14&key=e70e70fc0c617d13aa771071fa154138&&plugin=AMap.Geocoder"></script>

        <script rel="script" th:src="@{/js/utils.js}"></script>

        <link rel="stylesheet" href="../static/css/site_selection.css" th:href="@{/css/site_selection.css}"/>
        <link rel="stylesheet" type="text/css" href="../static/semantic/out/semantic.css" th:href="@{/semantic/out/semantic.css}" />
    </head>
    <body>
        <div class="ui container">
            <div>
                <div class="ui large icon input">
                    <input id="tipinput" name="searchAddress" type="text" value="请输入关键字：(选定后搜索)" onfocus='this.value=""'>
                    <i class="link search icon"  onclick="getEvaluationBarResult(document.getElementById('tipinput').value)"></i>
                </div>
                <div class="ui checkbox compare-check">
                    <input type="checkbox" name="compare" onclick="$.fn.checkMainCompare()">
                    <label class="set-main-compare">设置对比主体</label>
                    <span id="compareMainName"></span>
                </div>
            </div>
        </div>
        <div class="picture-content ui container">
            <div class="ui stackable equal width grid">
                <div class="ten wide column">
                    <div th:replace="site_selection/fragments/auto_navi_map :: map"></div>
                </div>
                <div  class="six wide column">
                    <div th:replace="site_selection/fragments/utils :: loader"></div>
                    <div th:replace="site_selection/fragments/bar_chart :: bar"></div>
                </div>
            </div>
        </div>
        <div class="table-content ui container">
            <div class="ui stackable equal width grid">
                <div id="detailTableSection" class="sixteen wide column">
                    <div id="tab_info" class="evaluation-content" th:include="site_selection/fragments/tab_info :: table"></div>
                </div>
                <div id="compareBarSection" class="six wide column">
                    <div id="compare_bar" th:include="site_selection/fragments/bar_chart :: compareBar"></div>
                </div>
            </div>
        </div>

    </body>


    <script th:inline="javascript">
        getEvaluationBarResult = function(searchAddress) {
            $.ajax({
                url: "/site_selection_bar",
                type: 'get',
                contentType: 'application/json',
                data: {instituteName : searchAddress},
                async: true,
                success: function(data){
                    $("#tab_info").html(data);
                    console.log([reponseFromServer.barData]);
                    bar_result = [reponseFromServer.barData];
                    $.fn.drawBar(bar_result);
                    $.fn.compareSite(reponseFromServer);
                },
                error: function (data) {
                    console.log('error: ' + data);
                }
            });
        };
    </script>
    <script rel="script" th:src="@{/js/site_selection.js}"></script>
</html>

