#siteSelectionResult {
    width: 60%;
    height: 60%;
}

.picture-content.ui.container {
    height: 50%;
    margin: 1rem 0;
}

.ui.container .grid {
    height: 100%;
}

.evaluation-content.ui.container {
    height: 30%;
    margin: 1rem 0;
}