<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
    <div th:fragment="table">
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="first">交通状况</a>
            <a class="item" data-tab="second">竞业状况</a>
            <a class="item" data-tab="third">异业状况</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="first">
            <p>交通评估根据目标地周边<span>1000m</span>内交通状况分析得出，从轨道交通、公共交通及私家车停车场等多个维度出发进行分析</p>
            <table class="ui inverted orange table">
                <thead>
                    <tr>
                        <th>交通评估</th>
                        <th>地铁轻轨</th>
                        <th>公交车站</th>
                        <th>停车场</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${radar_result.trafficEvaluation.evaluation}"></td>
                        <td th:text="${radar_result.trafficEvaluation.metroAmount}"></td>
                        <td th:text="${radar_result.trafficEvaluation.busStationAmount}"></td>
                        <td th:text="${radar_result.trafficEvaluation.parkingAmount}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="ui bottom attached tab segment" data-tab="second">
            <p>竞业状况根据目标地周边3000m内早教机构分析得出，下列机构根据市场状况分为一线机构<span>(金宝贝、美吉姆、积木宝贝、东方爱婴、悦宝园、纽约国际、红黄蓝、新爱婴、爱乐、亲亲袋鼠)</span>和普通机构两类</p>
            <table class="ui inverted orange table">
                <thead>
                <tr>
                    <th>竞业评估</th>
                    <th>一线机构</th>
                    <th>普通机构</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${radar_result.competitorEvaluation.evaluation}"></td>
                    <td th:text="${radar_result.competitorEvaluation.starCompetitorAmount}"></td>
                    <td th:text="${radar_result.competitorEvaluation.evaluation}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="ui bottom attached tab segment" data-tab="third">
            <p>异业状况根据目标地周边3000m内适合于早教园区进行异业合作的机构统计</p>
            <table class="ui inverted orange table">
                <thead>
                <tr>
                    <th>异业评估</th>
                    <th>机构数量</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${radar_result.cooperatorEvaluation.evaluation}"></td>
                    <td th:text="${radar_result.cooperatorEvaluation.cooperatorAmount}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var reponseFromServer = /*[[${radar_result}]]*/ 'User Name';
            /*]]>*/
        </script>
        <script rel="script" th:src="@{/js/tab_info.js}"></script>
    </div>

    </body>
</html>